{
  "openapi": "3.0.1",
  "info": {
    "title": "DC Platform APIs",
    "description": "Trying to document dc platform api's here",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "2.0.0"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },
  "servers": [
    {
      "url": "https://dc-platform-api.adobe.io/"
    }
  ],
  "tags": [
    {
      "name": "asset",
      "description": "Upload and download asset",
      "url": "https://dc-sensei-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "createpdf",
      "description": "Create PDF document from Microsoft Office documents",
      "url": "https://dc-platform-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "exportpdf",
      "description": "Convert a PDF File to a non-PDF File",
      "url": "https://dc-platform-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "extractpdf",
      "description": "Extract content from PDF documents and output it in a structured JSON format, along with tables and figures",
      "url": "https://dc-platform-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "htmltopdf",
      "description": "Convert HTML Resources to a PDF File",
      "url": "https://dc-platform-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "combinepdf",
      "description": "Combine multiple PDF Files into a single PDF File",
      "url": "https://dc-platform-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "compresspdf",
      "description": "Compress a PDF File",
      "url": "https://dc-platform-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "linearizepdf",
      "description": "Convert a PDF File to a Linearized or Web Optimized PDF File",
      "url": "https://dc-platform-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "ocr",
      "description": "Perform OCR on a PDF File",
      "url": "https://dc-platform-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "pagemanipulation",
      "description": "Rotate and delete pages of a PDF File",
      "url": "https://dc-platform-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "pdfproperties",
      "description": "Extract basic information about a PDF document.",
      "url": "https://dc-platform-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "protectpdf",
      "description": "Add encryption and/or restrict permissions on a PDF File",
      "url": "https://dc-platform-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "removeprotection",
      "description": "Remove password protection from a PDF File",
      "url": "https://dc-platform-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "splitpdf",
      "description": "Split a PDF File into multiple PDF Files",
      "url": "https://dc-platform-api.adobe.io/",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    }
  ],
  "x-tagGroups": [
    {
      "name": "Files",
      "tags": [
        "asset"
      ]
    },
    {
      "name": "PDFOperations",
      "tags": [
        "createpdf",
        "exportpdf",
        "extractpdf",
        "htmltopdf",
        "combinepdf",
        "compresspdf",
        "linearizepdf ",
        "ocr",
        "pagemanipulation",
        "pdfproperties",
        "protectpdf",
        "removeprotection",
        "splitpdf"
      ]
    }

  ],
  "paths": {
    "/tmp": {
      "post": {
        "tags": [
          "asset"
        ],
        "summary": "Upload an asset to tmp storage",
        "description": "Upload file",
        "operationId": "asset.upload",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The content type (media type) of the file. For example, application/pdf",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          }
        },
        "security": [
          {
            "auth": [
            ]
          }
        ]
      }
    },
    "/tmp/blob/{assetID}": {
      "get": {
        "tags": [
          "asset"
        ],
        "summary": "Download asset from temp storage",
        "description": "Download file",
        "operationId": "asset.download",
        "parameters": [
          {
            "name": "assetID",
            "in": "path",
            "description": "ID of the asset",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset downloaded successfully",
            "headers": {
              "Content-Type": {
                "description": "Content type of the file",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {}
          }
        },
        "security": [
          {
            "auth": [
            ]
          }
        ]
      }
    },
    "/pdf-services/operation/createpdf": {
      "post": {
        "tags": [
          "createpdf"
        ],
        "summary": "Create PDF document from non PDF document.",
        "description": "Create PDF document from Microsoft Office documents (Word, Excel and PowerPoint) and other supported file formats.",
        "operationId": "pdfoperations.createpdf",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Params for Create PDF Operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePDF"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The operation is completed successfully before the wait time provided in the Prefer header specified in the request (if Prefer header was not specified then the wait time is 59s by default). Expect 201 HTTP status code only when respond-async,wait=0 is NOT specified in the Prefer Header value while creating the request. Refer the response body structure from GET call 200 response.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "Request creation for the operation and status uri generated, which can be found in the 'location' header.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/202"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were missing or incorrect.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out. Some operation has timed out due to client issue.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/408"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "nternal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/pdf-services/operation/createpdf/{jobID}/status": {
      "get": {
        "tags": [
          "createpdf"
        ],
        "summary": "Poll the createPDF Job for completion",
        "operationId": "pdfoperations.jobstatus",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "description": "Job ID of the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation has failed due to some reason before the wait time provided in the Prefer header specified in the request (if Prefer header was not specified then the wait time is 59s by default), for detailed error refer cpf:status field inside the response body. Expect 200 HTTP status code only when respond-async,wait=0 is NOT specified in the Prefer Header value while creating the request. Refer the response body structure from GET call 200 response.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were missing or incorrect.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out. Some operation has timed out due to client issue.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/408"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "nternal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        }
      }
    },
    "/pdf-services/operation/exportpdf": {
      "post": {
        "tags": [
          "exportpdf"
        ],
        "summary": "Export a PDF file into a number of supported formats.",
        "description": "Export a PDF file into a number of supported formats. By default Exporting to an image produces a zip archive containing one image per page. Each image file name ends with _<unpadded_page_index_number>. For example, a PDF file with 15 pages will generate 15 image files. The first file name ends with _1 and the last file name ends with _15. To get the results of Exporting to image as non zip output, please set the outputType parameter to listOfPageImages and use assetIDList to get the result.",
        "operationId": "pdfoperations.exportpdf",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Parameter to specify output document target format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportPDF"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The operation is completed successfully before the wait time provided in the Prefer header specified in the request (if Prefer header was not specified then the wait time is 59s by default). Expect 201 HTTP status code only when respond-async,wait=0 is NOT specified in the Prefer Header value while creating the request. Refer the response body structure from GET call 200 response.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "Request creation for the operation and status uri generated, which can be found in the 'location' header.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/202"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were missing or incorrect.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out. Some operation has timed out due to client issue.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/408"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "nternal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/pdf-services/operation/exportpdf/{jobID}/status": {
      "get": {
        "tags": [
          "exportpdf"
        ],
        "summary": "Poll the exportPDF Job for completion",
        "operationId": "pdfoperations.exportpdf.jobstatus",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "description": "Job ID of the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation has failed due to some reason before the wait time provided in the Prefer header specified in the request (if Prefer header was not specified then the wait time is 59s by default), for detailed error refer cpf:status field inside the response body. Expect 200 HTTP status code only when respond-async,wait=0 is NOT specified in the Prefer Header value while creating the request. Refer the response body structure from GET call 200 response.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/ExportPDFJobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were missing or incorrect.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out. Some operation has timed out due to client issue.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/408"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "nternal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        }
      }
    },
    "/pdf-services/operation/extractpdf": {
      "post": {
        "tags": [
          "extractpdf"
        ],
        "summary": "Extract content from PDF documents and output it in a structured JSON format, along with tables and figures",
        "description": "Extract PDF Content, Tables content and Tables/Figures renditions from a PDF document. Various available options are: (mutually exclusive)\n\n1. Extract text with structure (headings, paragraphs, lists and footnotes)\n\n2. Extract tables data as CSV or XLSX\n\n3. Extract tables as images.\n\n4. Extract bounding boxes for characters present in text blocks(paragraphs, list, headings)\n\n5. Extract figures or images as PNG",
        "operationId": "pdfoperations.extractpdf",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Params for Extract PDF Operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractPDF"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The operation is completed successfully before the wait time provided in the Prefer header specified in the request (if Prefer header was not specified then the wait time is 59s by default). Expect 201 HTTP status code only when respond-async,wait=0 is NOT specified in the Prefer Header value while creating the request. Refer the response body structure from GET call 200 response.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "Request creation for the operation and status uri generated, which can be found in the 'location' header.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/202"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were missing or incorrect.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out. Some operation has timed out due to client issue.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/408"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "nternal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/pdf-services/operation/extractpdf/{jobID}/status": {
      "get": {
        "tags": [
          "extractpdf"
        ],
        "summary": "Poll the extractPDF Job for completion",
        "operationId": "pdfoperations.jobstatus",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "description": "Job ID of the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation has failed due to some reason before the wait time provided in the Prefer header specified in the request (if Prefer header was not specified then the wait time is 59s by default), for detailed error refer cpf:status field inside the response body. Expect 200 HTTP status code only when respond-async,wait=0 is NOT specified in the Prefer Header value while creating the request. Refer the response body structure from GET call 200 response.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/ExtractPDFJobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were missing or incorrect.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out. Some operation has timed out due to client issue.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/408"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "nternal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        }
      }
    },
    "/pdf-services/operation/htmltopdf": {
      "post": {
        "tags": [
          "htmltopdf"
        ],
        "summary": "Convert HTML Resources to a PDF File",
        "description": "Creates PDFs from static/dynamic HTML or HTML(with inline CSS) or just a URL. It's a common scenario for enterprise to provide end users with a HTML template with form fields. In case of dynamic HTML this API allows you to capture the users unique data entries and then save it as PDF. Collected data is stored in a JSON file, and the source HTML file must include <script src='./json.js' type='text/javascript'></script>. You can also provide the URL of the HTML page in inputUrl parameter.",
        "operationId": "pdfoperations.htmltopdf",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Params for converting HTML To PDF Operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HtmlToPdf"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The operation is completed successfully before the wait time provided in the Prefer header specified in the request (if Prefer header was not specified then the wait time is 59s by default). Expect 201 HTTP status code only when respond-async,wait=0 is NOT specified in the Prefer Header value while creating the request. Refer the response body structure from GET call 200 response.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "Request creation for the operation and status uri generated, which can be found in the 'location' header.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/202"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were missing or incorrect.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out. Some operation has timed out due to client issue.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/408"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "nternal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/pdf-services/operation/htmltopdf/{jobID}/status": {
      "get": {
        "tags": [
          "htmltopdf"
        ],
        "summary": "Poll the htmlToPdf Job for completion",
        "operationId": "pdfoperations.jobstatus",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "description": "Job ID of the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation has failed due to some reason before the wait time provided in the Prefer header specified in the request (if Prefer header was not specified then the wait time is 59s by default), for detailed error refer cpf:status field inside the response body. Expect 200 HTTP status code only when respond-async,wait=0 is NOT specified in the Prefer Header value while creating the request. Refer the response body structure from GET call 200 response.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/HtmlToPdfJobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were missing or incorrect.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out. Some operation has timed out due to client issue.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/408"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "nternal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        }
      }
    },
    "/pdf-services/operation/combinepdf": {
      "post": {
        "tags": [
          "combinepdf"
        ],
        "summary": "Combine multiple PDF Files into a single PDF File",
        "description": "Combines multiple PDF files(upto 20 files) into a single PDF file. Allows specifying which pages of the source files to combine. By default all the pages of source files are considered if explicit PageRanges are not specified.",
        "operationId": "pdfoperations.combinepdf",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Params for Combine PDF Operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CombinePDF"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The operation is completed successfully before the wait time provided in the Prefer header specified in the request (if Prefer header was not specified then the wait time is 59s by default). Expect 201 HTTP status code only when respond-async,wait=0 is NOT specified in the Prefer Header value while creating the request. Refer the response body structure from GET call 200 response.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "Request creation for the operation and status uri generated, which can be found in the 'location' header.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/202"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were missing or incorrect.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out. Some operation has timed out due to client issue.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/408"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "nternal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/pdf-services/operation/combinepdf/{jobID}/status": {
      "get": {
        "tags": [
          "combinepdf"
        ],
        "summary": "Poll the combinePDF Job for completion",
        "operationId": "pdfoperations.jobstatus",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "description": "Job ID of the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation has failed due to some reason before the wait time provided in the Prefer header specified in the request (if Prefer header was not specified then the wait time is 59s by default), for detailed error refer cpf:status field inside the response body. Expect 200 HTTP status code only when respond-async,wait=0 is NOT specified in the Prefer Header value while creating the request. Refer the response body structure from GET call 200 response.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/CombinePDFJobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were missing or incorrect.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out. Some operation has timed out due to client issue.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/408"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "nternal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        }
      }
    },
    "/pdf-services/operation/compresspdf": {
      "post": {
        "tags": [
          "compresspdf"
        ],
        "summary": "Compress a PDF File",
        "description": "Compress PDFs to reduce the file size prior to performing workflow operations that use bandwidth or memory. Supported levels of compression which reduces the file size of pdf:\n\n1. Low : Reduces resolution of the coloured and grayscale images above 250 dpi to 200 dpi. This option uses JP2K high quality compression.\n\n2. Medium : Reduces resolution of the coloured and grayscale images above 200 dpi to 144 dpi. This option uses JP2K medium quality compression.\n\n3. High : Reduces resolution of the coloured and grayscale images above 100 dpi to 72 dpi. This option uses JPEG medium quality compression. Output pdf will not contain hidden layers, document structure, metadata, javascript, user properties and print settings.",
        "operationId": "pdfoperations.compresspdf",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Params for Compress PDF Operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompressPDF"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The operation is completed successfully before the wait time provided in the Prefer header specified in the request (if Prefer header was not specified then the wait time is 59s by default). Expect 201 HTTP status code only when respond-async,wait=0 is NOT specified in the Prefer Header value while creating the request. Refer the response body structure from GET call 200 response.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "Request creation for the operation and status uri generated, which can be found in the 'location' header.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/202"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were missing or incorrect.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out. Some operation has timed out due to client issue.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/408"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "nternal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/pdf-services/operation/compresspdf/{jobID}/status": {
      "get": {
        "tags": [
          "compresspdf"
        ],
        "summary": "Poll the compressPDF Job for completion",
        "operationId": "pdfoperations.jobstatus",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "description": "Job ID of the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation has failed due to some reason before the wait time provided in the Prefer header specified in the request (if Prefer header was not specified then the wait time is 59s by default), for detailed error refer cpf:status field inside the response body. Expect 200 HTTP status code only when respond-async,wait=0 is NOT specified in the Prefer Header value while creating the request. Refer the response body structure from GET call 200 response.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/CompressPDFJobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication credentials were missing or incorrect.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "408": {
            "description": "Request Timed Out. Some operation has timed out due to client issue.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/408"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "nternal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json":{
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        }
      }
    },
    "/pdf-services/operation/linearizepdf": {
      "post": {
        "tags": [
          "linearizepdf"
        ],
        "summary": "Convert a PDF File to a Linearized or Web Optimized PDF File",
        "description": "Linearize a PDF Document to create a web-optimized PDF Document which supports incremental access in network environments..",
        "operationId": "pdfoperations.linearizepdf",
        "parameters": [
          {
            "name": "Authorization",
[...]
