{
  "openapi": "3.0.1",
  "info": {
    "title": "PDF Services API",
    "description": "<p><ul>\n\t<li>Learn more about using \n\t<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/howtos/api-usage/\"> Adobe PDF Services API.</a>\n\t</li>\n\t<li> Invoking PDF Services API requires an Adobe-provided credential, <a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">learn more about authentication.</a>\n\t</li>\n<li><a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/#sdk\">Downloadable SDKs</a></li>\n<li><a href=\"https://raw.githubusercontent.com/AdobeDocs/pdfservices-api-documentation/main/src/pages/resources/Platform%20PDF%20Services%20Postman%20Collection.zip\" download>Click here</a> to download sample Postman collection</li>\n<li><a href=\"https://raw.githubusercontent.com/AdobeDocs/pdfservices-api-documentation/main/src/pages/resources/Platform%20PDF%20Services%20with%20External%20Storage%20Postman%20Collection.zip\">Click here</a> to download sample Postman collection with External Storage</li><li><a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/howtos/service-region-configuration-for-apis/\">Click here</a> to know more about <b>multi-region support</b> for PDF Services API</li><li><a href=\"https://community.adobe.com/t5/document-services-apis/ct-p/ct-Document-Cloud-SDK\">Support Forum</a></li><li>First released on 26th September, 2022</li><li>To use your custom external storage, click <a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/howtos/pdf-external-storage-sol\">here</a>.</li></ul></p>",
    "version": ""
  },
  "servers": [
    {
      "url": "https://pdf-services-ue1.adobe.io"
    },
    {
      "url": "https://pdf-services-ew1.adobe.io"
    }
  ],
  "tags": [
    {
      "name": "Generate Token",
      "description": "Creates an access token using client id and client secret. Click <a href=\"https://developer.adobe.com/developer-console/docs/guides/authentication/ServerToServerAuthentication/IMS/\">here</a> to refer underlying IMS authentication APIs."
    },
    {
      "name": "Assets",
      "description": "Upload and download assets to Adobe internal storage. <br> Uploading and downloading of assets is not required when using a custom <a href = \"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/howtos/pdf-external-storage-sol\">external storage solution</a> with signed URLs. <div><small><b>Note:</b> Assets uploaded to Adobe internal storage are transiently stored for 24 hours.</small></div>"
    },
    {
      "name": "Create PDF",
      "description": "Create PDF document from Microsoft Office documents (Word, Excel and PowerPoint) and Image file formats."
    },
    {
      "name": "Export PDF",
      "description": "Convert a PDF File to a non-PDF File"
    },
    {
      "name": "PDF To Images",
      "description": "Convert a PDF File to image files"
    },
    {
      "name": "Extract PDF",
      "description": "Extract content from PDF documents and output it in a structured JSON format, along with tables and figures"
    },
    {
      "name": "Html to PDF",
      "description": "Convert HTML Resources to a PDF File"
    },
    {
      "name": "Combine PDF",
      "description": "Combine multiple PDF Files into a single PDF File"
    },
    {
      "name": "Compress PDF",
      "description": "Compress a PDF File"
    },
    {
      "name": "Linearize PDF",
      "description": "Convert a PDF File to a Linearized or Web Optimized PDF File"
    },
    {
      "name": "OCR",
      "description": "Perform OCR on a PDF File"
    },
    {
      "name": "Page Manipulation",
      "description": "Rotate and delete pages of a PDF File"
    },
    {
      "name": "PDF Properties",
      "description": "Extract basic information about a PDF document."
    },
    {
      "name": "Protect PDF",
      "description": "Add encryption and/or restrict permissions on a PDF File"
    },
    {
      "name": "Remove Protection",
      "description": "Remove password protection from a PDF File"
    },
    {
      "name": "Split PDF",
      "description": "Split a PDF File into multiple PDF Files"
    },
    {
      "name": "Document Generation",
      "description": "Merge Word based templates with input JSON data to create Word and PDF documents"
    },
    {
      "name": "PDF Electronic Seal",
      "description": "Create electronic seal on PDF documents like invoices, agreements etc using the digital certificate issued to the user by Trust Service Provider."
    },
    {
      "name": "PDF Accessibility Auto-Tag",
      "description": "Operation to create the tagged pdf and excel report for accessibility auto-tag use case."
    },
    {
      "name": "PDF Accessibility Checker",
      "description": "Accessibility Checker API will check PDF files to see if they meet the machine-verifiable requirements of PDF/UA and WCAG 2.0."
    },
    {
      "name": "PDF Watermark",
      "description": "PDF Watermark API will add a watermark in PDF document."
    },
    {
      "name": "Export PDF Form Data",
      "description": "The Export PDF Form Data API will retrieve the data from a PDF form and return it as a JSON file."
    },
    {
      "name": "Import PDF Form Data",
      "description": "The Import PDF Form Data API will take the form data provided as a JSON, insert it into the PDF form, and generate the resulting PDF."
    }
  ],
  "x-tagGroups": [
    {
      "name": "Authentication",
      "tags": [
        "Generate Token"
      ]
    },
    {
      "name": "Files",
      "tags": [
        "Assets"
      ]
    },
    {
      "name": "PDF Operations",
      "tags": [
        "PDF Accessibility Auto-Tag",
        "Extract PDF",
        "Document Generation",
        "PDF Electronic Seal",
        "Create PDF",
        "Export PDF",
        "OCR",
        "Html to PDF",
        "Protect PDF",
        "Combine PDF",
        "Compress PDF",
        "PDF To Images",
        "Linearize PDF",
        "Page Manipulation",
        "PDF Properties",
        "Remove Protection",
        "Split PDF",
        "PDF Watermark",
        "PDF Accessibility Checker"
      ]
    },
    {
      "name": "PDF operations Beta",
      "tags": [
        "Export PDF Form Data",
        "Import PDF Form Data"
      ]
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "Generate Token"
        ],
        "summary": "Generate access token to perform PDF Services operations",
        "description": "Creates an access token using client id and client Secret.",
        "operationId": "authentication.generatetoken",
        "requestBody": {
          "description": "Params for generating the access token.",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Token"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "headers": {
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMS400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMS401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMS403"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMS404"
                }
              }
            }
          },
          "409": {
            "description": "The request could not be processed because of conflict in the request",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMS409"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMS500"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/assets": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Get upload pre-signed URI. ",
        "description": "Get the pre-signed URI to directly upload the content to the adobe's internal cloud provider. \n\nOutput: Response will have the asset URI of created asset and pre-signed URI for uploading the content.<div><small><b>Note:</b> The pre-signed URI provided for uploading or downloading the content has an expiry of 1 hour.</small></div>",
        "operationId": "asset.uploadpresignedurl",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Params for getting upload presigned url Operation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUploadPresignedUrlRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "headers": {
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUploadPresignedUrlAsset"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{assetId}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get download pre-signed URI.",
        "description": "Get the pre-signed URI to fetch the content directly from the cloud provider.<div><small><b>Note:</b> The pre-signed URI provided for uploading or downloading the content has an expiry of 1 hour.</small></div>",
        "operationId": "asset.get",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "headers": {
              "Content-Type": {
                "description": "The media type of the response body, which is application/json.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique ID to identify each individual request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPresignedUrl"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete the asset from storage.",
        "description": "Delete the stored asset from the cloud provider.",
        "operationId": "asset.delete",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request was successful, but no content received.",
            "headers": {
              "Content-Type": {
                "description": "The media type of the response body, which is application/json.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique ID to identify each individual request.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{assetId}/metadata": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get asset metadata.",
        "description": "Get the metadata of the stored temporary asset.",
        "operationId": "asset.metadata",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "headers": {
              "Content-Type": {
                "description": "The media type of the response body, which is application/json.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique ID to identify each individual request.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        }
      }
    },
    "/operation/documentgeneration": {
      "post": {
        "tags": [
          "Document Generation"
        ],
        "summary": "Merge Word based templates with input JSON data to create Word and PDF documents",
        "description": "Merges the input JSON data with Word based templates to create dynamic documents. To learn more about document generation and document templates, please see the <a href=\"https://developer.adobe.com/document-services/docs/overview/document-generation-api/\">documentation</a>.",
        "operationId": "pdfoperations.documentgeneration",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Params for Document Generation Operation. Refer to the External Section below for using external storage with Document Generation API",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/DocumentGenerationInternal"
                  },
                  {
                    "$ref": "#/components/schemas/DocumentGenerationExternal"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request creation for the operation and status uri generated, which can be found in the 'location' header.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/operation/documentgeneration/{jobID}/status": {
      "get": {
        "tags": [
          "Document Generation"
        ],
        "summary": "Poll the document generation job for completion",
        "operationId": "pdfoperations.documentgeneration.jobstatus",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "description": "Job ID of the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A response with job information.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentGenerationJobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status400"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus404"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus401"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus500"
                }
              }
            }
          }
        }
      }
    },
    "/operation/extractpdf": {
      "post": {
        "tags": [
          "Extract PDF"
        ],
        "summary": "Extract content from PDF documents and output it in a structured JSON format, along with tables and figures",
        "description": "Extract PDF Content, Tables content and Tables/Figures renditions from a PDF document. Various available options are: (mutually exclusive)\n\n1. Extract text with structure (headings, paragraphs, lists and footnotes)\n\n2. Extract tables data as CSV or XLSX\n\n3. Extract tables as images.\n\n4. Extract bounding boxes for characters present in text blocks(paragraphs, list, headings)\n\n5. Extract figures or images as PNG",
        "operationId": "pdfoperations.extractpdf",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Params for Extract PDF Operation. Refer to the External Section below for using external storage with Extract PDF Operation.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ExtractPDFInternal"
                  },
                  {
                    "$ref": "#/components/schemas/ExtractPDFExternal"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request creation for the operation and status uri generated, which can be found in the 'location' header.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/operation/extractpdf/{jobID}/status": {
      "get": {
        "tags": [
          "Extract PDF"
        ],
        "summary": "Poll the extract pdf job for completion",
        "operationId": "pdfoperations.extractpdf.jobstatus",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "description": "Job ID of the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A response with job information.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractPDFJobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status400"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus404"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus401"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus500"
                }
              }
            }
          }
        }
      }
    },
    "/operation/createpdf": {
      "post": {
        "tags": [
          "Create PDF"
        ],
        "summary": "Create PDF document from non PDF document.",
        "description": "Create PDF document from Microsoft Office documents (Word, Excel and PowerPoint) and Image file formats.",
        "operationId": "pdfoperations.createpdf",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Params for Create PDF Operation. Refer to the External Section below for using external storage with Create PDF Operation.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreatePDFInternal"
                  },
                  {
                    "$ref": "#/components/schemas/CreatePDFExternal"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request creation for the operation and status uri generated, which can be found in the 'location' header.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/operation/createpdf/{jobID}/status": {
      "get": {
        "tags": [
          "Create PDF"
        ],
        "summary": "Poll the create PDF job for completion",
        "operationId": "pdfoperations.jobstatus",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "description": "Job ID of the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A response with job information.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePDFJobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status400"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus404"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus401"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus500"
                }
              }
            }
          }
        }
      }
    },
    "/operation/htmltopdf": {
      "post": {
        "tags": [
          "Html to PDF"
        ],
        "summary": "Convert HTML Resources to a PDF File",
        "description": "Creates PDFs from static/dynamic HTML or HTML(with inline CSS) or just a URL. It's a common scenario for enterprise to provide end users with a HTML template with form fields. In case of dynamic HTML this API allows you to capture the users unique data entries and then save it as PDF. Collected data is stored in a JSON file, and the source HTML file must include \\<script src='./json.js' type='text/javascript'>\\</script>. You can also provide the URL of the HTML page in inputUrl parameter. <b>However, creating PDF from URL is not supported in External Storage flow.</b>",
        "operationId": "pdfoperations.htmltopdf",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Params for converting HTML to PDF Operation. Refer to the External Section below for using external storage with HTML to PDF Operation.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/HtmlToPdfInternal"
                  },
                  {
                    "$ref": "#/components/schemas/HtmlToPdfExternal"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request creation for the operation and status uri generated, which can be found in the 'location' header.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/operation/htmltopdf/{jobID}/status": {
      "get": {
        "tags": [
          "Html to PDF"
        ],
        "summary": "Poll the Html to PDF job for completion",
        "operationId": "pdfoperations.htmltopdf.jobstatus",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "description": "Job ID of the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A response with job information.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HtmlToPdfJobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status400"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus404"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus401"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus500"
                }
              }
            }
          }
        }
      }
    },
    "/operation/combinepdf": {
      "post": {
        "tags": [
          "Combine PDF"
        ],
        "summary": "Combine multiple PDF Files into a single PDF File",
        "description": "Combines multiple PDF files(upto 20 files) into a single PDF file. Allows specifying which pages of the source files to combine. By default all the pages of source files are considered if explicit PageRanges are not specified.",
        "operationId": "pdfoperations.combinepdf",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Params for Combine PDF Operation. Refer to the External Section below for using external storage with Combine PDF operation.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CombinePDFInternal"
                  },
                  {
                    "$ref": "#/components/schemas/CombinePDFExternal"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Request creation for the operation and status uri generated, which can be found in the 'location' header.",
            "headers": {
              "location": {
                "description": "Job status URI for polling the results",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the error JSON response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "429": {
            "description": "Caller doesn't have sufficient quota for this operation.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/429"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered an error and is unable to process your request at this time.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/operation/combinepdf/{jobID}/status": {
      "get": {
        "tags": [
          "Combine PDF"
        ],
        "summary": "Poll the combine pdf job for completion",
        "operationId": "pdfoperations.combinepdf.jobstatus",
        "parameters": [
          {
            "name": "jobID",
            "in": "path",
            "description": "Job ID of the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer + Token (<a href=\"https://developer.adobe.com/document-services/docs/overview/pdf-services-api/gettingstarted/#step-1--getting-the-access-token\">Learn more</a> about getting the access token)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "The clientId from the generated credentials",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A response with job information.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CombinePDFJobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or cannot be otherwise served.",
            "headers": {
              "content-type": {
                "description": "The content type of the status call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status400"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
                "description": "A unique value to identify this request. If x-request-id is specified in the POST request, this value will be the same as the input.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Satus404"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "headers": {
              "content-type": {
                "description": "The content type of the POST API call response",
                "schema": {
                  "type": "string"
                }
              },
              "x-server": {
                "description": "The name and version of the server.",
                "schema": {
                  "type": "string"
                }
              },
              "x-request-id": {
[...]
